


body{
    margin: 0;
    padding: 0;
    background: #3b196d;


}
h1{
    font-family: 'Inter', sans-serif;
    color: #b9a4d8;
    text-align: center;
}
.container{
    margin: 40px auto;
    width: 72%;
    height: 100%;
    background: #b9a4d8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem  5px;
    border-radius: 22px;

    
}
.faq{
    max-height: 700px;
    width: 44rem;
    /* display: flex;
    justify-content: flex-start;
    align-items: center;*/
     margin-top: 10px; 
    border-bottom: 4px solid #3b196d;
    padding: 0 5px 10px  5px;
    cursor: pointer;
    position: relative;
}
.question{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.question p{
    list-style: none;
    font-family: 'Inter', sans-serif;
    color: #3b196d;
    font-size: 13px;
    font-weight: bold;


}

span{
    position: absolute;
    right: 0;
    font-weight: bold;
}
.answer {
    max-height: 0;
    overflow: hidden;
}

.answer p{
    padding-top:1rem;
    line-height: 1.6;
    color:#b9a4d8;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
.faq.active .answer{
    max-height: 600px;
    padding: 10px;
    border-radius: 12px;
    background-color: #3b196d;
    transition: max-height 0.3s  ease;
    display: flex;
    align-items: center;
}
button{
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 22px;
    background-color: #69469c;
    color: #3b196d;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-left: 4rem;

}
button:hover{
    background-color: #b9a4d8;
}
